##
## Velocity Template for userprofile (for now as end state)
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
##
##
#set ($record = $userProfileContext.getRecord())
## CONNECTED_ORGANIZATIONS is record of past logins per relying party
#set ($connectedOrganizations = $record.get("CONNECTED_ORGANIZATIONS"))
#set ($relyingPartyUIContextes = $userProfileContext.getRPRelyingPartyUIContextes())
<!DOCTYPE html>
<html>
  <head>
      <!-- TODO review this string here -->
      <title>#springMessageText("idp.userprofile.pageheading", "User Profile Page")</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
      <!-- TODO review description string -->
      <meta name="Description" content="#springMessageText("idp.userprofile.pageheading", "User Profile Page")">
  </head>
  <body>

    <header>
      <div id="logo"><img src="/idp/icons/fppp-logo.svg"
              alt="#springMessageText("idp.logo.alt-text", "logo")" /></div>
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
      </label>
    </header>
    <div id="nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav role="navigation" aria-label="#springMessageText("idp.userprofile.pageheading", "User Profile Page")">
            <ul>
                <!-- TODO: get strings from spring messages -->
                #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
                #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
                #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
                #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")
                <li><a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/prof-page.svg" /></span><span>#springMessageText("idp.userprofile.menu.personaldata", "Personal Data")</span></a></li>
                <li><a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span>#springMessageText("idp.userprofile.menu.connectedorganizations", "Connected Organizations")</span></a></li>
                <li><a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/activity.svg" /></span><span>#springMessageText("idp.userprofile.menu.activitypage", "Activity Page")</span></a></li>
                <li><a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span>#springMessageText("idp.userprofile.menu.allorganizations", "All Organizations")</span></a></li>
                <li><a href="#"><span class="navicon"><img src="/idp/icons/logout.svg" /></span><span>#springMessageText("idp.userprofile.menu.logout", "Log Out")</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- end of header -->
    
    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("idp.userprofile.connectedorganizations.heading", "Connected Organizations")
        </div>
    </section>
    <section id="main">
      <div id="connected_organizations">
      <table>
        <tr>
          <th>#springMessageText("idp.userprofile.connectedorganizations.columnservice", "Service")</th>
          <th>#springMessageText("idp.userprofile.connectedorganizations.columntimes", "Times")</th>
          <th>#springMessageText("idp.userprofile.connectedorganizations.columnattrbutes", "Last Attributes")</th>
        </tr>
        #if ( $connectedOrganizations.getAsJsonObject().has("value") )
          #set ($connectedOrganizations = $connectedOrganizations.value)
          #foreach($rpId in $connectedOrganizations.keySet())
          <tr>
            <td>$encoder.encodeForHTMLAttribute($relyingPartyUIContextes[$rpId].serviceName)</td>
            <td>$encoder.encodeForHTMLAttribute($connectedOrganizations.get($rpId).times)</td>
            <td>
            #foreach($attribute in $connectedOrganizations.get($rpId).attributes)
            <span class="label">$encoder.encodeForHTMLAttribute($attribute)</span>
            #end
            </td>
          </tr>
          #end
        #end
      </table>
      </div id="connected_organizations">
    </section>

    <footer>
      <div>
          <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>

  </body>
</html>