##
## Velocity Template for userprofile (for now as end state)
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
##
##
#set ($userAttributes = $userProfileContext.getIdPUserAttributes())
#set ($record = $userProfileContext.getRecord())
## ALL_ACTIVITY is record of past logins
#set ($allActivity = $record.get("ALL_ACTIVITY"))
## CONNECTED_ORGANIZATIONS is record of past logins per relying party
#set ($connectedOrganizations = $record.get("CONNECTED_ORGANIZATIONS"))
#set ($relyingParties = $userProfileContext.getRelyingParties())
#set ($encodedJSONAttributes = $userProfileContext.getRPEncodedJSONAttributes())
#set ($relyingPartyUIContextes = $userProfileContext.getRPRelyingPartyUIContextes())
<!DOCTYPE html>
<html>
  <head>
      <!-- TODO review this string here -->
      <title>#springMessageText("idp.userprofile.pageheading", "User Profile Page")</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
      <!-- TODO review description string -->
      <meta name="Description" content="#springMessageText("idp.userprofile.pageheading", "User Profile Page")">
  </head>
  <body>

    <header>
      <div id="logo"><img src="/idp/icons/fppp-logo.svg"
              alt="#springMessageText("idp.logo.alt-text", "logo")" /></div>
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
      </label>
    </header>
    <div id="nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav role="navigation" aria-label='#springMessageText("idp.userprofile.pageheading", "User Profile Page")'>
            <ul>
                <!-- TODO: get strings from spring messages -->
                <li>
                    <a href="personal_data">
                      <span class="navicon"><img src="/idp/icons/prof-page.svg" /></span>
                      <span class="navlabel">#springMessageText("idp.userprofile.personal_data", "Personal Data")</span>
                    </a>
                </li>
                <li>
                  <a href="connected_organizations">
                    <span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span>
                    <span class="navlabel">#springMessageText("idp.userprofile.connected_organizations", "Connected Organizations")</span>
                  </a>
                </li>
                <li>
                  <a href="activity_log">
                    <span class="navicon"><img src="/idp/icons/activity.svg" /></span>
                    <span class="navlabel">#springMessageText("idp.userprofile.activity_page", "Activity Page")</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="navicon"><img src="/idp/icons/logout.svg" /></span>
                    <span class="navlabel">#springMessageText("idp.userprofile.logout", "Log Out")</span>
                  </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end of header -->
    
    <section id="banner">
        <!-- TODO until there will be separate pages 
        <div>
        </div> 
        -->
    </section>

    <section id="main">
      <div id="personal_data">
      <h1>#springMessageText("idp.userprofile.personaldata.heading", "Personal Data")</h1>
      <table>
        <!-- fixed table header -->
        <tr>
            <th>Attribute <a href="#"><img src="/idp/icons/i.svg"></a></th>
            <th>Your value <a href="#" class="dropdown"></th>
        </tr>
        #foreach($attribute in $userAttributes)
        <tr>
          <td>$encoder.encodeForHTMLAttribute($attributeDisplayNameFunction.apply($attribute))</td>
          <td>
          #foreach ($value in $attribute.values)
            <p>$encoder.encodeForHTMLAttribute($value.getDisplayValue())</p>
          #end
          </td>
        </tr>
        #end
      </table>
    </div>

    <div id="connected_organizations">
      <h1>#springMessageText("idp.userprofile.connectedorganizations.heading", "Connected Organizations")</h1>
      <table>
        <tr>
          <th>#springMessageText("idp.userprofile.connectedorganizations.columnservice", "Service")</th>
          <th>#springMessageText("idp.userprofile.connectedorganizations.columntimes", "Times")</th>
          <th>#springMessageText("idp.userprofile.connectedorganizations.columnattrbutes", "Last Attributes")</th>
        </tr>
        #if ( $connectedOrganizations.getAsJsonObject().has("value") )
          #set ($connectedOrganizations = $connectedOrganizations.value)
          #foreach($rpId in $connectedOrganizations.keySet())
          <tr>
            <td>$encoder.encodeForHTMLAttribute($relyingPartyUIContextes[$rpId].serviceName)</td>
            <td>$encoder.encodeForHTMLAttribute($connectedOrganizations.get($rpId).times)</td>
            <td>
            #foreach($attribute in $connectedOrganizations.get($rpId).attributes)
            <p>$encoder.encodeForHTMLAttribute($attribute)</p>
            #end
            </td>
          </tr>
          #end
        #end
      </table>
    </div id="activity_log">
    <div>
      <h1>#springMessageText("idp.userprofile.allactivity.heading", "All Activity")</h1>
      <table>
        <tr>
          <th>#springMessageText("idp.userprofile.allactivity.columntime", "Time")</th>
          <th>#springMessageText("idp.userprofile.allactivity.columnservice", "Service")</th>
        </tr>
        #foreach($item in $allActivity)
        <tr>
          <td>$encoder.encodeForHTMLAttribute($item.iat)</td>
          <td>$encoder.encodeForHTMLAttribute($relyingPartyUIContextes["$item.value"].serviceName)</td>
        </tr>
        #end
      </table>

      <form action="$flowExecutionUrl" method="post">
        #parse("csrf/csrf.vm")
        <h1>#springMessageText("idp.userprofile.availableorganizations.heading", "Available Organizations")</h1>
        <table>
          #foreach($rpId in $relyingParties.keySet())
          <tr>
            <td>$encoder.encodeForHTMLAttribute($relyingPartyUIContextes[$rpId].serviceName)</td>
            <td>
            #if ($encodedJSONAttributes.containsKey($rpId))
            <table>
              #set ($rpEncodedJSONAttributes = $encodedJSONAttributes[$rpId])
              #foreach($attribute in $rpEncodedJSONAttributes.keySet())
              <tr>
                <td>$encoder.encodeForHTMLAttribute($attributeDisplayNameFunction.apply($attribute))</td>
                <td>
                #foreach ($value in $attribute.values)
                  <p>$encoder.encodeForHTMLAttribute($value.getDisplayValue())</p>
                #end
                </td>
              </tr>
              #end
            </table>
            #else
            <button type="submit" name="_eventId_showAttributes" value="$encoder.encodeForHTMLAttribute($rpId)" onClick="this.childNodes[0].nodeValue='#springMessageText("idp.userprofile.resolving", "Resolving attributes, please wait...")'">#springMessageText("idp.userprofile.showattributes", "Information to be Provided to Service")</button>
            #end
            </td>
          </tr>
        #end
        </table>
      </form>
      </div>
    </section>

    <footer>
      <div>
          <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>

  </body>
</html>