##       |   
##   \  ___  /                           _________
##  _  /   \  _    GÉANT                 |  * *  | Co-Funded by
##     | ~ |       Trust & Identity      | *   * | the European
##      \_/        Incubator             |__*_*__| Union
##       =
##
##
## Velocity Template for User Profile. Lists all activity for user.
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## cspDigester - Calculates base64-encoded SHA-2 hashes (call apply)
## cspNonce - Calculates secure nonces (call generateIdentifier)
## dateUtil - User Profile utility class for rendering date.
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
## attributeDisplayDescriptionFunction - function to display attribute description
## showConnectedServices - whether to show Connected Services
## showAllServices - whether to show All Services
##
##
#set ($nonce = $cspNonce.generateIdentifier())
$response.addHeader("Content-Security-Policy", "base-uri 'none'; object-src 'none'; script-src-elem 'nonce-$nonce'")
## ALL_ACTIVITY is record of past logins
#set ($allActivity = $userProfileContext.getLoginEvents())
<!DOCTYPE html>
<html>
  <!-- =========== */
  /*      Head     */
  /* ============ -->
  <head>
    <title>#springMessageText("userProfile.pageheading", "User Profile Page")</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/idp/css/userprofile2.css">
    <meta name="Description" content="#springMessageText("userProfile.pageheading", "User Profile Page")">
    <script nonce="$nonce"><!-- #parse("jquery-3.7.1.min.js") // --></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>



  <!-- ======================= */
  /*           Body            */
  /* ======================== -->
  <body>
    <!-- ============= */
    /*      Header     */
    /* ============== -->
    <header>
      <div id="logo">
        <img src="/idp/icons/fppp-logo.svg" alt="#springMessageText("idp.logo.alt-text", "logo")" />
      </div>

      <label for="mobile-nav-toggle" class="nav-toggle-label">
        <span><i class="lni lni-menu-hamburger-1"></i></span>
      </label>
    </header>


    <!-- ======================== */
    /*      Mobile navigation     */
    /* ========================= -->
    <input id="mobile-nav-toggle" type="checkbox">
    <div id="idMobileNav" class="overlay">
      <label for="mobile-nav-toggle" class="closebtn">
        <span><i class="lni lni-xmark"></i></span>
      </label>

      <div class="overlay-content">
        <!-- TODO: get strings from spring messages -->
        #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
        #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
        #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
        #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")

        <a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/prof-page.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span>
        </a>

        #if ($showConnectedServices)
        <a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/conn-orgs.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span>
        </a>
        #end

        #if ($showActivityPage)
        <a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/activity.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span>
        </a>
        #end

        #if ($showAllServices)
        <a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/conn-orgs.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span>
        </a>
        #end

        #if ($logoutUrl)
        <a href="$logoutUrl">
          <span class="navicon">
            <img src="/idp/icons/logout.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.logout", "Log Out")</span>
        </a>
        #end
      </div>
    </div>

    
    <!-- ========================= */
    /*      Desktop navigation     */
    /* ========================== -->
    <div id="nav">
      <nav role="navigation" aria-label="#springMessageText("userProfile.pageheading", "User Profile Page")">
        <ul>
          <!-- TODO: get strings from spring messages -->
          #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
          #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
          #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
          #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")

          <li>
            <a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/prof-page.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span>
            </a>
          </li>

          #if ($showConnectedServices)
          <li>
            <a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/conn-orgs.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span>
            </a>
          </li>
          #end

          #if ($showActivityPage)
          <li>
            <a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/activity.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span>
            </a>
          </li>
          #end

          #if ($showAllServices)
          <li>
            <a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/conn-orgs.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span>
            </a>
          </li>
          #end

          #if ($logoutUrl)
          <li>
            <a href="$logoutUrl">
              <span class="navicon">
                <img src="/idp/icons/logout.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.logout", "Log Out")</span>
            </a>
          </li>
          #end
        </ul>
      </nav>
    </div>


    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("userProfile.allActivity.heading", "All Activity")
        </div>
    </section>


    <!-- =========== */
    /*      Main     */
    /* ============ -->
    <section id="main">
      <div class="search">
        <script #if ($nonce)nonce="$nonce"#end>
          <!--
          $(function() {
            jQuery.expr[':'].icontains = function(a, i, m) {
              return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
              };
            $("#search").off();
            $("#search").on("keyup", function() {
              var val = $.trim(this.value);
              if (val.length > 0) {
                $('td.mainline').hide();
                $('td.mainline').parent().hide();

                $('span.small-label:icontains("'+val+'")').show();
                $('span.small-label:icontains("'+val+'")').parent().show();
                $('span.small-label:icontains("'+val+'")').parent().siblings().show();
                $('span.small-label:icontains("'+val+'")').parent().parent().show();
                
              }
              else {
                $('td.mainline').show();
                $('td.mainline').parent().show();
              }
            });
          });
          // -->
        </script>

        <div class="input-group input-group-sm">
          <span class="input-group-text" id="serviceFilterID">
            #springMessageText("userProfile.allActivity.filter", "Filter:")
          </span>
          <input id="search" type="text" class="form-control" placeholder="Enter terms here..." aria-describedby="serviceFilterID">
        </div>
      </div>

      <div id="activity_log">
        <table>
          <!-- fixed table header -->
          <tr>
            <th>#springMessageText("userProfile.allActivity.columnservice", "Service")</th>
            <th>#springMessageText("userProfile.allActivity.columntime", "Time")</th>
            <th>#springMessageText("userProfile.allActivity.columnacr", "Acr")</th>
            <th>#springMessageText("userProfile.allActivity.columnaddr", "Address")</th>
            <th>#springMessageText("userProfile.allActivity.columnattributes", "Attributes")</th>
          </tr>
          #foreach($event in $allActivity)
          #set ($acrTranslation = "userProfile.acr." + $event.getAcr())
          <tr>
            <td class="mainline"><span class="small-label">$encoder.encodeForHTMLAttribute($event.getName())</span></td>
            <td class="mainline"><small>$encoder.encodeForHTMLAttribute($dateUtil.epochSecondsToDate($event.getTime()))</small></td>
            <td class="mainline"><span class="small-label">#springMessageText("$acrTranslation", "$event.getAcr()")</span></td>
            <td class="mainline"><span class="small-label">$encoder.encodeForHTMLAttribute($event.getAddress())</span></td>
            <td class="mainline">
            #foreach($attribute in $event.getAttributes())
            <span class="small-label">$encoder.encodeForHTMLAttribute($attribute.getDisplayValue())</span>
            #end
            </td class="mainline">
          </tr>
          #end
        </table>
      </div>
    </section>


    <!-- ============= */
    /*      Footer     */
    /* ============== -->
    <footer>
      <div>
        <div id="idGeantSection">
          <img src="/idp/icons/GEANT blue new.svg" />
        </div>

        <div id="idEuSection">
          <h4>GÉANT Project Funding Statement</h4>
          <hr>
          <img src="/idp/icons/Funded by the EU.svg" />
        </div>
      </div>

      <div id="idCopyrightText">
        <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>
  </body>
</html>
