##
## Velocity Template for User Profile. Lists all activity for user.
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## dateUtil - User Profile utility class for rendering date.
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
##
##
## ALL_ACTIVITY is record of past logins
#set ($allActivity = $userProfileContext.getLoginEvents())
#set ($relyingParties = $userProfileContext.getRelyingParties())
<!DOCTYPE html>
<html>
  <head>
      <!-- TODO review this string here -->
      <title>#springMessageText("idp.userprofile.pageheading", "User Profile Page")</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
      <!-- TODO review description string -->
      <meta name="Description" content="#springMessageText("idp.userprofile.pageheading", "User Profile Page")">
  </head>
  <body>

    <header>
      <div id="logo"><img src="/idp/icons/fppp-logo.svg"
              alt="#springMessageText("idp.logo.alt-text", "logo")" /></div>
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
      </label>
    </header>
    <div id="nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav role="navigation" aria-label="#springMessageText("idp.userprofile.pageheading", "User Profile Page")">
            <ul>
                <!-- TODO: get strings from spring messages -->
                #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
                #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
                #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
                #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")
                <li><a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/prof-page.svg" /></span><span class="navlabel">#springMessageText("idp.userprofile.menu.personaldata", "Personal Data")</span></a></li>
                <li><a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("idp.userprofile.menu.connectedorganizations", "Connected Organizations")</span></a></li>
                <li><a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/activity.svg" /></span><span class="navlabel">#springMessageText("idp.userprofile.menu.activitypage", "Activity Page")</span></a></li>
                <li><a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("idp.userprofile.menu.allorganizations", "All Organizations")</span></a></li>
                <li><a href="#"><span class="navicon"><img src="/idp/icons/logout.svg" /></span><span class="navlabel">#springMessageText("idp.userprofile.menu.logout", "Log Out")</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- end of header -->
    
    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("idp.userprofile.allactivity.heading", "All Activity")
        </div>
    </section>
    <section id="main">
      <div id="activity_log">
      <table>
        <!-- fixed table header -->
        <tr>
          <th>#springMessageText("idp.userprofile.allactivity.columntime", "Time")</th>
          <th>#springMessageText("idp.userprofile.allactivity.columnservice", "Service")</th>
          <th>#springMessageText("idp.userprofile.allactivity.columnattributes", "Attributes")</th>
        </tr>
        #foreach($event in $allActivity)
        <tr>
          <td>$encoder.encodeForHTMLAttribute($dateUtil.epochSecondsToDate($event.getTime()))</td>
          <td>$encoder.encodeForHTMLAttribute($relyingParties[$event.getRpId()].serviceName)</td>
          <td>
          #foreach($attribute in $event.getAttributes())
          <span class="label">$encoder.encodeForHTMLAttribute($attribute.getDisplayValue())</span>
          #end
          </td>
        </tr>
        #end
      </table>
      </div id="activity_log">
    </section>

    <footer>
      <div>
          <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>

  </body>
</html>
