##       |   
##   \  ___  /                           _________
##  _  /   \  _    GÉANT                 |  * *  | Co-Funded by
##     | ~ |       Trust & Identity      | *   * | the European
##      \_/        Incubator             |__*_*__| Union
##       =
##
##
## Velocity Template for userprofile (for now as end state)
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## cspDigester - Calculates base64-encoded SHA-2 hashes (call apply)
## cspNonce - Calculates secure nonces (call generateIdentifier)
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
## attributeDisplayDescriptionFunction - function to display attribute description
## showConnectedServices - whether to show Connected Services
## showActivityPage - whether to show Activity Page
##
##
#set ($nonce = $cspNonce.generateIdentifier())
$response.addHeader("Content-Security-Policy", "base-uri 'none'; object-src 'none'; script-src-elem 'nonce-$nonce'")
#set ($attributecontexts = $userProfileContext.getRPAttributeContext())
#set ($relyingParties = $userProfileContext.getRelyingParties())
<!DOCTYPE html>
<html>
  <!-- =========== */
  /*      Head     */
  /* ============ -->
  <head>
    <title>#springMessageText("userProfile.pageheading", "User Profile Page")</title>
    <meta charset="UTF-8" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
    <meta name="Description" content="#springMessageText("userProfile.pageheading", "User Profile Page")">
    <script nonce="$nonce">
      <!-- #parse("jquery-3.7.1.min.js") // -->
    </script>
  </head>



  <!-- ======================= */
  /*           Body            */
  /* ======================== -->
  <body>
    <!-- ======================= */
    /*          Header           */
    /* ======================== -->
    <header>
      <div id="logo">
        <img src="/idp/icons/fppp-logo.svg" alt="#springMessageText("idp.logo.alt-text", "logo")" />
      </div>

      <label for="mobile-nav-toggle" class="nav-toggle-label">
        <span><i class="lni lni-menu-hamburger-1"></i></span>
      </label>
    </header>


    <!-- ======================== */
    /*      Mobile navigation     */
    /* ========================= -->
    <input id="mobile-nav-toggle" type="checkbox">
    <div id="idMobileNav" class="overlay">
      <label for="mobile-nav-toggle" class="closebtn">
        <span><i class="lni lni-xmark"></i></span>
      </label>

      <div class="overlay-content">
        <!-- TODO: get strings from spring messages -->
        #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
        #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
        #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
        #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")

        <a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/prof-page.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span>
        </a>

        #if ($showConnectedServices)
        <a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/conn-orgs.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span>
        </a>
        #end

        #if ($showActivityPage)
        <a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/activity.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span>
        </a>
        #end

        #if ($showAllServices)
        <a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
          <span class="navicon">
            <img src="/idp/icons/conn-orgs.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span>
        </a>
        #end

        #if ($logoutUrl)
        <a href="$logoutUrl">
          <span class="navicon">
            <img src="/idp/icons/logout.svg" />
          </span>
          <span class="mobile-nav-label">#springMessageText("userProfile.menu.logout", "Log Out")</span>
        </a>
        #end
      </div>
    </div>

    
    <!-- ========================= */
    /*      Desktop navigation     */
    /* ========================== -->
    <div id="nav">
      <nav role="navigation" aria-label="#springMessageText("userProfile.pageheading", "User Profile Page")">
        <ul>
          <!-- TODO: get strings from spring messages -->
          #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
          #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
          #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
          #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")

          <li>
            <a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/prof-page.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span>
            </a>
          </li>

          #if ($showConnectedServices)
          <li>
            <a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/conn-orgs.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span>
            </a>
          </li>
          #end

          #if ($showActivityPage)
          <li>
            <a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/activity.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span>
            </a>
          </li>
          #end

          #if ($showAllServices)
          <li>
            <a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">
              <span class="navicon">
                <img src="/idp/icons/conn-orgs.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span>
            </a>
          </li>
          #end

          #if ($logoutUrl)
          <li>
            <a href="$logoutUrl">
              <span class="navicon">
                <img src="/idp/icons/logout.svg" />
              </span>
              <span class="navlabel">#springMessageText("userProfile.menu.logout", "Log Out")</span>
            </a>
          </li>
          #end
        </ul>
      </nav>
    </div>
    

    <!-- ============= */
    /*      Banner     */
    /* ============== -->
    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("userProfile.availableorganizations.heading", "All Organizations")
        </div>
    </section>


    <!-- =========== */
    /*      Main     */
    /* ============ -->
    <section id="main">
      <div id="connected_organizations">
      <form action="$flowExecutionUrl" method="post">
        #parse("csrf/csrf.vm")
        <table id="maintable">
          #foreach($rpId in $relyingParties.keySet())
          <tr>
            <td>$encoder.encodeForHTMLAttribute($relyingParties[$rpId].serviceName)</td>
            <td>
            #if ($attributecontexts.containsKey($rpId))
            <table>
              #set ($attributecontext = $attributecontexts[$rpId])
              #foreach($attribute in $attributecontext.getIdPAttributes().values())
              <tr>
                <td>$encoder.encodeForHTMLAttribute($attributeDisplayNameFunction.apply($attribute))</td>
                <td>
                #foreach ($value in $attribute.values)
                <span class="label">$encoder.encodeForHTMLAttribute($value.getDisplayValue())</span>
                #end
                </td>
              </tr>
              #end
            </table>
            #else
            <button type="submit" name="_eventId_showAttributes" value="$encoder.encodeForHTMLAttribute($rpId)" onClick="this.childNodes[0].nodeValue='#springMessageText("userProfile.resolving", "Resolving attributes, please wait...")'">#springMessageText("userProfile.showattributes", "Information to be Provided to Service")</button>
            #end
            </td>
          </tr>
        #end
        </table>
        </div id="connected_organizations">
      </form>
    </section>


    <!-- ============= */
    /*      Footer     */
    /* ============== -->
    <footer>
      <div>
        <div id="idGeantSection">
          <img src="/idp/icons/GEANT blue new.svg" />
        </div>

        <div id="idEuSection">
          <h4>GÉANT Project Funding Statement</h4>
          <hr>
          <img src="/idp/icons/Funded by the EU.svg" />
        </div>
      </div>

      <div id="idCopyrightText">
        <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>


    <!-- ============== */
    /*      Scripts     */
    /* =============== -->
    <script #if ($nonce)nonce="$nonce"#end>
      <!--
      function sortTable() {

        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("maintable");
        switching = true;

        while (switching) {

          switching = false;
          rows = table.rows;

          for (i = 0; i < (rows.length - 1); i++) {

            shouldSwitch = false;

            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];

            if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }

      sortTable();
      // -->
    </script>
  </body>
</html>
