##
## Velocity Template for userprofile (for now as end state)
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
## showConnectedServices - whether to show Connected Services
## showActivityPage - whether to show Activity Page
##
##
#set ($encodedJSONAttributes = $userProfileContext.getRPEncodedJSONAttributes())
#set ($relyingParties = $userProfileContext.getRelyingParties())
<!DOCTYPE html>
<html>
  <head>
      <!-- TODO review this string here -->
      <title>#springMessageText("userProfile.pageheading", "User Profile Page")</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
      <!-- TODO review description string -->
      <meta name="Description" content="#springMessageText("userProfile.pageheading", "User Profile Page")">
  </head>
  <body>

    <header>
      <div id="logo"><img src="/idp/icons/fppp-logo.svg"
              alt="#springMessageText("idp.logo.alt-text", "logo")" /></div>
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
      </label>
    </header>
    <div id="nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav role="navigation" aria-label="#springMessageText("userProfile.pageheading", "User Profile Page")">
            <ul>
                <!-- TODO: get strings from spring messages -->
                #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
                #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
                #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
                #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")
                <li><a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/prof-page.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span></a></li>
                #if ($showConnectedServices)
                <li><a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span></a></li>
                #end
                #if ($showActivityPage)
                <li><a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/activity.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span></a></li>
                #end
                <li><a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span></a></li>
                <li><a href="#"><span class="navicon"><img src="/idp/icons/logout.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.logout", "Log Out")</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- end of header -->
    
    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("userProfile.availableorganizations.heading", "All Organizations")
        </div>
    </section>
    <section id="main">
      <div id="connected_organizations">
      <form action="$flowExecutionUrl" method="post">
        #parse("csrf/csrf.vm")
        <table>
          #foreach($rpId in $relyingParties.keySet())
          <tr>
            <td>$encoder.encodeForHTMLAttribute($relyingParties[$rpId].serviceName)</td>
            <td>
            #if ($encodedJSONAttributes.containsKey($rpId))
            <table>
              #set ($rpEncodedJSONAttributes = $encodedJSONAttributes[$rpId])
              #foreach($attribute in $rpEncodedJSONAttributes)
              <tr>
                <td>$encoder.encodeForHTMLAttribute($attributeDisplayNameFunction.apply($attribute))</td>
                <td>
                #foreach ($value in $attribute.values)
                <span class="label">$encoder.encodeForHTMLAttribute($value.getDisplayValue())</span>
                #end
                </td>
              </tr>
              #end
            </table>
            #else
            <button type="submit" name="_eventId_showAttributes" value="$encoder.encodeForHTMLAttribute($rpId)" onClick="this.childNodes[0].nodeValue='#springMessageText("userProfile.resolving", "Resolving attributes, please wait...")'">#springMessageText("userProfile.showattributes", "Information to be Provided to Service")</button>
            #end
            </td>
          </tr>
        #end
        </table>
        </div id="connected_organizations">
      </form>
    </section>

    <footer>
      <div>
          <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>

  </body>
</html>
