##
## Velocity Template for User Profile. Lists all activity for user.
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## dateUtil - User Profile utility class for rendering date.
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
## attributeDisplayDescriptionFunction - function to display attribute description
## showConnectedServices - whether to show Connected Services
## showAllServices - whether to show All Services
##
##
## ALL_ACTIVITY is record of past logins
#set ($allActivity = $userProfileContext.getLoginEvents())
<!DOCTYPE html>
<html>
  <head>
      <!-- TODO review this string here -->
      <title>#springMessageText("userProfile.pageheading", "User Profile Page")</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
      <!-- TODO review description string -->
      <meta name="Description" content="#springMessageText("userProfile.pageheading", "User Profile Page")">
      <script src="/idp/javascript/jquery-3.7.1.min.js"></script>
  </head>
  <body>

    <header>
      <div id="logo"><img src="/idp/icons/fppp-logo.svg"
              alt="#springMessageText("idp.logo.alt-text", "logo")" /></div>
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
      </label>
    </header>
    <div id="nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav role="navigation" aria-label="#springMessageText("userProfile.pageheading", "User Profile Page")">
            <ul>
                <!-- TODO: get strings from spring messages -->
                #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
                #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
                #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
                #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")
                <li><a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/prof-page.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span></a></li>
                #if ($showConnectedServices)
                <li><a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span></a></li>
                #end
                <li><a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/activity.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span></a></li>
                #if ($showAllServices)
                <li><a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span></a></li>
                #end
                <li><a href="#"><span class="navicon"><img src="/idp/icons/logout.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.logout", "Log Out")</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- end of header -->
    
    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("userProfile.allActivity.heading", "All Activity")
        </div>
        <div class="search">
          <script>
          $(function() {
            jQuery.expr[':'].icontains = function(a, i, m) {
              return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
              };
            $("#search").off();
            $("#search").on("keyup", function() {
              var val = $.trim(this.value);
              if (val.length > 0) {
                $('td.mainline').hide();
                $('td.mainline').parent().hide();

                $('span.small-label:icontains("'+val+'")').show();
                $('span.small-label:icontains("'+val+'")').parent().show();
                $('span.small-label:icontains("'+val+'")').parent().siblings().show();
                $('span.small-label:icontains("'+val+'")').parent().parent().show();
                
              }
              else {
                $('td.mainline').show();
                $('td.mainline').parent().show();
              }
            });
          });
          </script>
          <b style="margin-top: auto;margin-bottom: auto;">#springMessageText("userProfile.allActivity.filter", "Filter:")</b>
          <input type="text" id="search" placeholder="enter terms here...">
        </div>
    </section>
    <section id="main">
      <div id="activity_log">
      <table>
        <!-- fixed table header -->
        <tr>
          <th>#springMessageText("userProfile.allActivity.columnservice", "Service")</th>
          <th>#springMessageText("userProfile.allActivity.columntime", "Time")</th>
          <th>#springMessageText("userProfile.allActivity.columnattributes", "Attributes")</th>
        </tr>
        #foreach($event in $allActivity)
        <tr>
          <td class="mainline"><span class="small-label">$encoder.encodeForHTMLAttribute($event.getName())</span></td>
          <td class="mainline"><small>$encoder.encodeForHTMLAttribute($dateUtil.epochSecondsToDate($event.getTime()))</small></td>
          <td class="mainline">
          #foreach($attribute in $event.getAttributes())
          <span class="small-label">$encoder.encodeForHTMLAttribute($attribute.getDisplayValue())</span>
          #end
          </td class="mainline">
        </tr>
        #end
      </table>
      </div id="activity_log">
    </section>

    <footer>
      <div>
          <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>

  </body>
</html>
