##
## Velocity Template for userprofile to show Connected Services.
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## dateUtil - User Profile utility class for rendering date.
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
## attributeDisplayDescriptionFunction - function to display attribute description
## showActivityPage - whether to show Connected Services
## showAllServices - whether to show All Services
##
##
## CONNECTED_ORGANIZATIONS is record of past logins per relying party
#set ($connectedOrganizations = $userProfileContext.getConnectedOrganizations())
#set ($relyingPartyAccessTokens = $userProfileContext.getAccessTokens())
#set ($relyingPartyRefreshTokens = $userProfileContext.getRefreshTokens())
<!DOCTYPE html>
<html>
  <head>
      <!-- TODO review this string here -->
      <title>#springMessageText("userProfile.pageheading", "User Profile Page")</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
      <!-- TODO review description string -->
      <meta name="Description" content="#springMessageText("userProfile.pageheading", "User Profile Page")">
      <script src="/idp/javascript/jquery-3.7.1.min.js"></script>
  </head>
  <body>

    <header>
      <div id="logo"><img src="/idp/icons/fppp-logo.svg"
              alt="#springMessageText("idp.logo.alt-text", "logo")" /></div>
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
      </label>
    </header>
    <div id="nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav role="navigation" aria-label="#springMessageText("userProfile.pageheading", "User Profile Page")">
            <ul>
                <!-- TODO: get strings from spring messages -->
                #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
                #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
                #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
                #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")
                <li><a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/prof-page.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span></a></li>
                <li><a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span></a></li>
                #if ($showActivityPage)
                <li><a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/activity.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span></a></li>
                #end
                #if ($showAllServices)
                <li><a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span></a></li>
                #end
                #if ($logoutUrl)
                <li><a href="$logoutUrl"><span class="navicon"><img src="/idp/icons/logout.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.logout", "Log Out")</span></a></li>
                #end
            </ul>
        </nav>
    </div>
    <!-- end of header -->
    
    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("userProfile.connectedorganizations.heading", "Connected Organizations")
        </div>
        <div class="search">
          <script>
          $(function() {
            jQuery.expr[':'].icontains = function(a, i, m) {
              return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
              };
            $("#search").off();
            $("#search").on("keyup", function() {
              var val = $.trim(this.value);
              if (val.length > 0) {
                $('td.mainline').hide();
                $('td.dropdown-container').hide();
                $('input.dropdown.toggle').prop('checked', false); // closes all accordions

                //in case the service title contains the string
                $('td.mainline:icontains("'+val+'")').show();
                $('td.mainline:icontains("'+val+'")').parent().next().find('td.dropdown-container').show();

              }
              else {
                $('td.mainline').show();
              }
            });
          });
          </script>
          <b style="margin-top: auto;margin-bottom: auto;">#springMessageText("userProfile.connectedorganizations.findservice", "Find service:")</b>
          <input type="text" id="search" placeholder="#springMessageText("userProfile.connectedorganizations.search", "Search...")">
        </div>
    </section>
    <section id="main">
      <div id="connected_organizations">
        <form action="$flowExecutionUrl" method="post">
        #parse("csrf/csrf.vm")
          <table class="connected-orgs">
            <tr>
              <th colspan="3">
                <span class="mainlabel">#springMessageText("userProfile.connectedorganizations.columnservice", "Service")</span>
              </th>
            </tr>
            #foreach($rpId in $connectedOrganizations.keySet())
            <tr>
              <td colspan="3" class="mainline"><span class="mainlabel">$encoder.encodeForHTMLAttribute($connectedOrganizations.get($rpId).getName())</span></td>
            </tr>
            <tr>
              <td class="dropdown-container" colspan="3">
              <input id="dropdown-toggle-$rpId" class="dropdown-toggle" type="checkbox">
              <label class="dropdown-label" for="dropdown-toggle-$rpId">
                <img src="/idp/icons/dropdown.svg">
              </label>
              <div class="dropdown-box">
                <table>
                <tr>
                  <td></td>
                  <td><b>#springMessageText("userProfile.connectedorganizations.columntimes", "Times")</b>:</td>
                  <td><span class="label">$encoder.encodeForHTMLAttribute($connectedOrganizations.get($rpId).getTimes())</span></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td><b>#springMessageText("userProfile.connectedorganizations.columnattrbutes", "Last Attributes")</b></td>
                  <td class="attribute-container" colspan="2">
                    #foreach($attribute in $connectedOrganizations.get($rpId).getLastAttributes())
                      <span class="label">$encoder.encodeForHTMLAttribute($attribute.getDisplayValue())</span><br>
                    #end
                  </td>
                  #foreach($token in $relyingPartyAccessTokens.get($rpId))
                  <tr>
                    <td></td>
                    <td><b>#springMessageText("userProfile.connectedorganizations.accesstoken", "Access Token")</b></td>
                    <td>
                      <span class="label">
                        <b>#springMessageText("userProfile.connectedorganizations.tokenexpiration", "Token Expiration")</b>: $encoder.encodeForHTMLAttribute($dateUtil.epochSecondsToDate($token.getExp())) 
                        <b>#springMessageText("userProfile.connectedorganizations.columntoken", "Scope")</b>: $encoder.encodeForHTMLAttribute($token.getScope()) <br/>
                        <span class="tokenid">#springMessageText("userProfile.connectedorganizations.columntoken", "ID") : $encoder.encodeForHTMLAttribute($token.getTokenId()) </span>
                      </span>
                    </td>
                    <td>
                      <button class="delete" type="submit" name="_eventId_revokeToken" value="$token.getTokenId()" onClick="this.childNodes[0].nodeValue='#springMessageText("userProfile.revoking", "Revoking token, please wait...")'">#springMessageText("userProfile.connectedorganizations.columntoken", "Revoke now")</button>
                    </td>
                  </tr>
                  #end
                  #foreach($token in $relyingPartyRefreshTokens.get($rpId))
                  <tr>
                    <td></td>
                    <td><b>#springMessageText("userProfile.connectedorganizations.refreshtoken", "Refresh Token")</b></td>
                    <td>
                      <span class="label">
                        <b>#springMessageText("userProfile.connectedorganizations.tokenexpiration", "Token Expiration")</b>: $encoder.encodeForHTMLAttribute($dateUtil.epochSecondsToDate($token.getExp())) 
                        <b>#springMessageText("userProfile.connectedorganizations.columntoken", "Scope")</b>: $encoder.encodeForHTMLAttribute($token.getScope())
                        <b>#springMessageText("userProfile.connectedorganizations.columntoken", "ID")</b>: $encoder.encodeForHTMLAttribute($token.getTokenId())
                      </span>
                    </td>
                    <td>
                      <button class="delete" type="submit" name="_eventId_revokeToken" value="$token.getTokenId()" onClick="this.childNodes[0].nodeValue='#springMessageText("userProfile.revoking", "Revoking token, please wait...")'">#springMessageText("userProfile.connectedorganizations.columntoken", "Revoke now")</button>
                    </td>
                  </tr>
                  #end
                </tr>
                </table>
            </div>
            </td>
            #end
          </table>
        </form>  
      </div id="connected_organizations">
    </section>

    <footer>
      <div>
          <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>

  </body>
</html>
