##
## Velocity Template for userprofile (for now as end state)
##
## Velocity context will contain the following variables during controlled errors.
## Some error paths involve runtime exceptions handled outside Spring Web Flow by the
## MVC layer and will not generally populate most of these variables.
##
## flowRequestContext - the Spring Web Flow RequestContext
## profileRequestContext - root of context tree
## encoder - HTMLEncoder class
## environment - Spring Environment object for property resolution
## userProfileContext - user profile context
## attributeDisplayNameFunction - function to display attribute name
## attributeDisplayDescriptionFunction - function to display attribute description
## showConnectedServices - whether to show Connected Services
## showActivityPage - whether to show Activity Page
## showAllServices - whether to show All Services
##
##
#set ($userAttributes = $userProfileContext.getIdPUserAttributes())
<!DOCTYPE html>
<html>
  <head>
      <!-- TODO review this string here -->
      <title>#springMessageText("userProfile.pageheading", "User Profile Page")</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="/idp/css/userprofile.css">
      <!-- TODO review description string -->
      <meta name="Description" content="#springMessageText("userProfile.pageheading", "User Profile Page")">
      <script>
        function doPopup(popupId) {
          var popup = document.getElementById(popupId);
          popup.classList.toggle("show");
        }
      </script>
      <script src="/idp/javascript/jquery-3.7.1.min.js"></script>
  </head>
  <body>

    <header>
      <div id="logo"><img src="/idp/icons/fppp-logo.svg"
              alt="#springMessageText("idp.logo.alt-text", "logo")" /></div>
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
      </label>
    </header>
    <div id="nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav role="navigation" aria-label="#springMessageText("userProfile.pageheading", "User Profile Page")">
            <ul>
                <!-- TODO: get strings from spring messages -->
                #set ($personalDataLink = $flowExecutionUrl + "&_eventId=personalData")
                #set ($connectedOrganizationsLink = $flowExecutionUrl + "&_eventId=connectedOrganizations")
                #set ($activityPageLink = $flowExecutionUrl + "&_eventId=activityPage")
                #set ($allOrganizationsLink = $flowExecutionUrl + "&_eventId=allOrganizations")
                <li><a href="$personalDataLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/prof-page.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.personaldata", "Personal Data")</span></a></li>
                #if ($showConnectedServices)
                <li><a href="$connectedOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.connectedorganizations", "Connected Organizations")</span></a></li>
                #end
                #if ($showActivityPage)
                <li><a href="$activityPageLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/activity.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.activitypage", "Activity Page")</span></a></li>
                #end
                #if ($showAllServices)
                <li><a href="$allOrganizationsLink#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end"><span class="navicon"><img src="/idp/icons/conn-orgs.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.allorganizations", "All Organizations")</span></a></li>
                #end
                <li><a href="#"><span class="navicon"><img src="/idp/icons/logout.svg" /></span><span class="navlabel">#springMessageText("userProfile.menu.logout", "Log Out")</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- end of header -->
    
    <section id="banner">
        <!-- TODO explanatory message -->
        <div>
          #springMessageText("userProfile.personaldata.heading", "Personal Data")
        </div>
        <div class="buttons">
        <label for="actions-toggle"><span class="actionsbutton">#springMessageText("userProfile.personaldata.actionsbutton", "Actions ▾")</span></label>
              <input type="checkbox" id="actions-toggle" class="dropdown-toggle">
              <div class="dropdown-box actions-list">
                <!-- download data button -->
                <span id="download" class="abutton">#springMessageText('userProfile.personaldata.downloaddata', 'Download data')</span>
                <div id="csvModal" class="modal">
                    <div class="modal-content">
                        <textarea id="csvDisplay" rows="10" cols="50"></textarea><br>
                        <button id="copyToClipboard">#springMessageText('userProfile.personaldata.copytoclipboard','Copy to Clipboard')</button>
                        <button id="close">#springMessageText('userProfile.personaldata.close','Close')</button>
                    </div>
                </div>
                <script>
                function displayModal(csvData) {
                  $('#csvDisplay').val(csvData);
                  $('#csvModal').show();

                  $('#close').on('click', function() {
                      $('#csvModal').hide();
                  });

                  $('#copyToClipboard').on('click', function() {
                      $('#csvDisplay').select();
                      document.execCommand('copy');
                      alert('CSV Copied to cliplboard');
                  });
                }

                $(function() {
                    $('#download').on('click', function() {
                        let csvData = 'Attribute,Value\n'; // CSV header

                        // Iterate over each row containing personal data
                        $('td.personaldata').each(function() {
                            let attributeName = $(this).contents().filter(function() {
                                return this.nodeType === 3; // Node type 3 is a text node
                            }).first().text().trim();

                            let attributeValue = $(this).closest('tr').find('span.label').text().trim();
                            csvData += `"${attributeName}","${attributeValue}"\n`;
                        });

                        displayModal(csvData);
                    });
                });

                </script>
                <!-- custom button -->
                <hr>
                <span class="abutton">Custom action</span>
              </div>
          </div>
    </section>
    <section id="main">
      <div id="personal_data">
      <table>
        <!-- fixed table header -->
        <tr>
            <th>Attribute</th>
            <th>Your value</th>
        </tr>
        #foreach($attribute in $userAttributes)
        <tr>
          <td class="personaldata">$encoder.encodeForHTMLAttribute($attributeDisplayNameFunction.apply($attribute))
          <div class="popup" onclick="doPopup('popup-${attribute.getId()}')"><img class="information-icon" src="/idp/icons/i.svg"/>
            <span class="popuptext" id="popup-${attribute.getId()}">$encoder.encodeForHTMLAttribute($attributeDisplayDescriptionFunction.apply($attribute))</span>
          </div> 
          </td>
          <td class="personaldata">
          #foreach ($value in $attribute.values)
            <span class="label">$encoder.encodeForHTMLAttribute($value.getDisplayValue())</span>
          #end
          </td>
        </tr>
        #end
      </table>
      </div id="personal_data">
    </section>

    <footer>
      <div>
          <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
      </div>
    </footer>

  </body>
</html>